.Card {
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
  background-color: #fff;
  width: 370px;
  height: 144px;
  display: flex;
  gap: 16px;
  .ImageBlock {
    position: relative;
    width: 84px;
    height: 84px;
    min-width: 84px;
    display: block;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .InfoBlock {
    display: flex;
    flex-direction: column;
    .Vendor {
      margin-bottom: 4px;
    }
    .Name {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-bottom: 4px;
      min-height: 48px;
    }
    .PricesBlock {
      display: flex;
      justify-content: space-between;
      .Price {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}
