.BottomHeadMenuCatalog {
  display: flex;

  .BlocksArea {
    display: none;
    position: absolute;
    z-index: 100;
    width: 100%;
    padding: 62px 0;
    background: #fff;
    justify-content: center;

    &_selected {
      display: flex;
    }

    .BlocksAreaContent {
      display: flex;
      flex: 1;
      padding: 0 14px;
      max-width: 1440px;
    }
  }
}
