.WorkOnSiteDisclaimer {
  display: flex;
  justify-content: center;
  background-color: #FF5C21;
  padding: 15px 20px;

  &:global(.isHidden) {
    display: none;
  }

  &:global(.isMobile) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .Text {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 138.462% */
    max-width: 820px;
  }

  .Actions {
    margin-left: 80px;

    &:global(.isMobile) {
      margin-top: 10px;
      margin-left: 0;
    }
  }
}
