.PopularProductButtons {
  position: absolute;
  display: flex;
  right: 0;

  .Btn {
    cursor: pointer;

    & path {
      stroke: #bbb;
    }

    &:hover path {
      stroke: #000;
    }

    &_left {
      transform: rotate(180deg);
      margin-right: 10px;
    }
  }
}
