    @font-face {
    font-family: 'TRIAL Oceanic Bold';
    font-style: normal;
    font-weight: normal;
    src: local('TRIAL Oceanic Bold'), url('TRIAL_Oceanic-Bold-BF6487cfe5cfe3d.woff') format('woff');
    }