.DefaultText {
  font-family: Manrope;
  font-style: normal;
  color: #35393e;
}
.s11h16w400 {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.055px;
}
.s12h11w500 {
  font-size: 12px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0.06px;
}
.s12h16w400 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.06px;
}
.s12h16w800 {
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0.06px;
}
.s13h15w500 {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.26px;
}
.s13h16w400 {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.065px;
}
.s13h16w600 {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.065px;
}
.s13h18w500 {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.26px;
}
.s13h18w700 {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.26px;
}
.s14h15w400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.14px;
}
.s14h18w800 {
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0.14px;
}
.s14h17w400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.s14h16w700 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
.s14h16w600 {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}
.s14h20w400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.s15h20w400 {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.s15h20w700 {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.s15h15w500 {
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.15px;
}
.s15h15w700 {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.075px;
}
.s15h20w500 {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15px;
}
.s15h18w800 {
  font-size: 15px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0.15px;
}
.s16h17w500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.08px;
}
.s16h17w700 {
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.08px;
}
.s18h24w400 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.s18h20w600 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.36px;
}
.s18h20w800 {
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.18px;
}
.s17h15w700 {
  font-size: 17px;
  font-weight: 700;
  line-height: 15px;
}
.s17h20w700 {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.17px;
}
.s18h15w600 {
  font-size: 18px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.36px;
}
.s18h22w400 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.36px;
}
.s20h18w800 {
  font-size: 20px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.s24h24w700 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.s24h32w700 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.06px;
}
.s32hnw800 {
  font-size: 32px;
  font-weight: 800;
  line-height: 32px;
}
.s36hnw400 {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
.s36hnw800 {
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
}
.s36h16w800 {
  font-size: 36px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 1.08px;
}

.grey {
  color: #797979;
}
.white {
  color: #fff;
}
.orange {
  color: #ff5c21;
}
.red {
  color: #ff151f;
}
.green {
  color: #00a300;
}
.WithDecoration {
  text-decoration: underline;
  text-underline-offset: 4px;
}
