.CatalogSettingsBar {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 100% */
  letter-spacing: 0.15px;
  color: #35393e;
  padding: 24px;
  justify-content: space-between;

  .PageCounter {
    display: flex;
    align-items: center;
    gap: 10px;

    .PageSizeBtn {
      display: flex;
      justify-content: center;
      cursor: pointer;
      align-items: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px; /* 100% */
      letter-spacing: 0.15px;
      border-radius: 2px;
      border: 1px solid #35393e;
      opacity: 0.6;
      color: #35393e;
      width: 28px;
      height: 28px;

      &_selected {
        color: #35393E;
        border: 1px solid #35393E;
        opacity: 1;
      }
    }
  }

  .CatalogTypeBtns {
    display: flex;

    .CatalogTypeBtn {
      cursor: pointer;

      & path {
        fill: #797979;
      }

      &_selected {
        & path {
          fill: #35393e;
        }
      }
    }
  }
}
