.Wrapper {
  display: flex;
  padding: 2px 5px;
  align-items: center;
  gap: 2px;
  border-radius: 2px;
  background: #f9f9fa;
  width: fit-content;
  font-family: Manrope;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.055px;
  color: #797979;
  .Star {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
  }
}
