.BottomHeadMenuCatalogBlockItem {
  display: flex;
  flex-direction: column;
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.15px;

  & > div {
    & a {
      text-transform: capitalize;
    }

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .LinkMore {
    color: #ec5c2a;
    text-decoration: underline;

    & a {
      text-transform: none;
    }
  }
}
